<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

  <head>
    <meta charset="UTF-8" />
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  </head>

  <body>
    <h1>Book List</h1>
    <h2> <a href="/add_book_page">Add new book</a> </h2>
    <br/><br/>

    <div class="container">
      <table class ="container" border="1">

        <tr>
          <th><h1>Title</h1></th>
          <th><h1>Author</h1></th>
        </tr>

        <tr th:each = "book : ${books}">
          <td th:utext="${book.title}">...</td>
          <td th:utext="${book.author}">...</td>
          <td>
            <form th:action="@{/delete_book}"  method="post">
              <input type="hidden" th:value="${book.title}" name="book_title"/>
              <input type="submit" value="Delete"/>
            </form>

            <form th:action="@{/update_book_page}"  method="get">
              <input type="hidden" th:value="${book.title}" name="book_title"/>
              <input type="submit" value="update"/>
            </form>
          </td>
        </tr>

      </table>
    </div>

  </body>
</html>